<footer id="footer" class="bg-rose-500 dark:bg-purple-700 text-white p-6">
    <section class="flex flex-wrap justify-between text-center md:text-left space-y-8 md:space-y-0">
        <div class="w-full md:w-2/3">
            <p class="text-lg font-bold mb-2">Stay Connected</p>
            <p>Follow my work and projects:</p>
            <div class="flex flex-col items-center md:items-start space-y-2 mt-2">
                <a class="text-black dark:text-white hover:underline font-medium flex items-center gap-2" th:href="${footer.connect.github_url}">
                    <i class="fa-brands fa-github"></i> [[${footer.connect.github}]]
                </a>
                <a class="text-black dark:text-white hover:underline font-medium flex items-center gap-2" th:href="${footer.connect.linkedin_url}">
                    <i class="fa-brands fa-linkedin"></i> [[${footer.connect.linkedin}]]
                </a>
            </div>
        </div>

        <div class="w-full md:w-1/3">
            <p class="text-lg font-bold mb-2">Let’s Create Together</p>
            <p>Got an idea or collaboration in mind?</p>
            <a class="text-black dark:text-white block mt-2 text-lg hover:underline font-medium" th:href="${footer.connect.mail}">
                ✉️ Get in Touch
            </a>
        </div>
    </section>
</footer>
